<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Quản lý đơn hàng
		<small>Danh sách đơn hàng</small>
	</h1>
</section>
<div class="content" ng-init="loadOrder()">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Danh sách đơn hàng</h3>
				</div>
				<!-- /.box-header -->          
				<div class="box-body">
				    <div class="row">
					    <div class="col-md-10">
						    <table class="table table-condensed text-center">
						        <thead>
						            <tr>
						                <th>#</th>
						                <th>Mã Đơn Hàng</th>
						                <th>Tên Khách Hàng</th>
						                <th>Tổng Tiền</th>
						                <th>Trạng Thái</th>
						                <th>&nbsp;</th>
						            </tr>
						        </thead>
						        <tbody>
						        	<div >
							           <tr ng-repeat="order in restored_data.listOrder">
								           	<form class="row">
								                <td class="col-xs-1">{{$index + 1 + (currentPage-1)*10}}</td>
								                <td class="col-xs-2 col-md-1">{{order._id}}</td>
								                <td class="col-xs-2">{{order.customerName}}</td>
								                <td class="col-xs-2">{{order.priceTotal}}</td>
								                <td class="col-xs-2">{{order.Availability}}</td>
								                <td class="col-xs-2 col-md-1"> 
								                    <div class="dropdown">		                    	
								                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Tùy Chọn <span class="caret"></span></button>
								                        <ul class="dropdown-menu">
								                        	<li><a href="javascript:void(0)" ui-sref="OrderDetail({orderID: order._id,pageID:1})">Chi tiết </a></li>
								                        	<li><a href="javascript:void(0)" ui-sref="EditOrder({orderID: order._id})" ng-click="edit(order)">Chỉnh sửa </a></li>
								                            <li><a href="javascript:void(0)" ng-click="remove(order)">Xóa</a></li>
								                        </ul>                       
								                    </div>  
								                </td>
								            </form>
							            </tr>
						        	</div>
						        </tbody>
						    </table>
						</div>
					</div>	
				</div>
				<!-- /.box-body -->
				<div class="box-footer">                
					<div class="col-md-6 col-md-offset-6">
						<nav aria-label="Page navigation">
							<ul uib-pagination 
								boundary-links="true" 
								total-items="restored_data.total" 
								ng-model="currentPage" 
								class="pagination-sm" 
								previous-text="&lsaquo;" 
								next-text="&rsaquo;" 
								first-text="&laquo;" 
								last-text="&raquo;"
								ui-sref="Order({pageID:currentPage})">
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- /.box -->        
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

