<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Quản lý đơn hàng chi tiết
		<small>Danh sách đơn hàng chi tiết</small>
	</h1>
</section>
<div class="content" ng-init="loadOrderDetail()">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Danh sách đơn hàng chi tiết</h3>
				</div>
				<!-- /.box-header -->          
				<div class="box-body">
				    <div class="row">
					    <div class="col-md-10">
						    <table class="table table-condensed text-center">
						        <thead>
						            <tr>
						                <th>#</th>
						                <th>Mã Đơn Hàng</th>
						                <th>Tên Sản Phẩm</th>
						                <th>Số Lượng</th>
						                <th>Đơn Giá</th>
						                <th>Tình Trạng</th>
						                <th>&nbsp;</th>
						            </tr>
						        </thead>
						        <tbody>
						        	<div >
							           <tr ng-repeat="orderDetail in restored_data.listOrderDetail">
								           	<form class="row">
								                <td class="col-xs-1">{{$index + 1 + (currentPage-1)*10}}</td>
								                <td class="col-xs-2 col-md-1">{{orderDetail.orderId}}</td>
								                <td class="col-xs-2">{{orderDetail.productName}}</td>
								                <td class="col-xs-1">{{orderDetail.quantity}}</td>
								                <td class="col-xs-2">{{orderDetail.priceUnit}}</td>
								                <td class="col-xs-2">{{orderDetail.Availability}}</td>
								                <td class="col-xs-2 col-md-1"> 
								                    <div class="dropdown">		                    	
								                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Tùy Chọn <span class="caret"></span></button>
								                        <ul class="dropdown-menu">
								                        	<li><a href="javascript:void(0)" ui-sref="EditOrderDetail({orderDetailID: orderDetail._id})" ng-click="edit(orderDetail)">Chỉnh sửa </a></li>
								                            <li><a href="javascript:void(0)" ng-click="remove(orderDetail)">Xóa</a></li>
								                        </ul>                       
								                    </div>  
								                </td>
								            </form>
							            </tr>
						        	</div>
						        </tbody>
						    </table>
						</div>
					</div>	
				</div>
				<!-- /.box-body -->
				<div class="box-footer">                
					<div class="col-md-6 col-md-offset-6">
						<nav aria-label="Page navigation">
							<ul uib-pagination 
								boundary-links="true" 
								total-items="restored_data.total" 
								ng-model="currentPage" 
								class="pagination-sm" 
								previous-text="&lsaquo;" 
								next-text="&rsaquo;" 
								first-text="&laquo;" 
								last-text="&raquo;"
								ui-sref="OrderDetail({orderDetailID:currentPage})">
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- /.box -->        
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

