<!-- Content Header (Page header) -->
<div class="content-header">
	<h1>
		Quản lý sản phẩm
		<small>Tạo mới sản phẩm</small>
	</h1>
</div>
<div class="content" ng-controller="addAdminCtrl">
	<div class="row">
		<div class="box">
			<form class="form-horizontal" ng-submit="submitForm()" name="myForm" novalidate>          
				<div class="box-body">	
					<div class="col-md-push-2 col-md-6">
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Full Name</label>
		                    <div class="col-sm-9">
		                        <input type="text" class="form-control" ng-model="sendData.fullName" placeholder="Full Name" required name="fullName" minlength="4">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.fullName.$invalid && myForm.fullName.$dirty">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError" ng-show="myForm.fullName.$error.minlength">Full name requires 4 or more characters</p>
		                        <p class="msgError" ng-show="myForm.fullName.$error.required">Full name is required</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        User Name</label>
		                    <div class="col-sm-9">
		                        <input type="text" class="form-control" ng-model="sendData.userName" placeholder="User Name" required name="userName" ng-blur="userError()" ng-change="resetUser()" minlength="4" maxlength="12">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.userName.$invalid && myForm.userName.$dirty|| checkUser">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError" ng-show="myForm.userName.$error.minlength || myForm.userName.$error.maxlength">User name requires between 4 and 12 characters</p>
		                        <p class="msgError" ng-show="myForm.userName.$error.required">User name is required</p>
		                        <p class="msgError" ng-show="checkUser">User name already exists</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Password</label>
		                    <div class="col-sm-9">
		                        <input type="password" class="form-control" ng-model="sendData.password" placeholder="Password" required ng-change="passwordError()" name="password" minlength="6" maxlength="18">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.password.$invalid && myForm.password.$dirty">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError" ng-show="myForm.password.$error.minlength || myForm.password.$error.maxlength">Password requires between 6 and 18 characters</p>
		                        <p class="msgError" ng-show="myForm.password.$error.required">Password is required</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Confirm</label>
		                    <div class="col-sm-9">
		                        <input type="password" class="form-control" ng-model="confirmPassword" placeholder="Confirm Password" required name="confirm" ng-change="resetConfirm()" ng-blur="confirmError()">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.confirm.$invalid && myForm.confirm.$dirty || checkConfirm">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError" ng-show="myForm.confirm.$error.required">Confirm password is required</p>
		                        <p class="msgError" ng-show="checkConfirm">Password do not match</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Email</label>
		                    <div class="col-sm-9">
		                        <input type="email" class="form-control" ng-model="sendData.email" placeholder="Email" required name="email" minlength="6" ng-blur="emailError()" ng-change="resetEmail()">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.email.$invalid && myForm.email.$dirty || checkEmail">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError" ng-show="myForm.email.$error.minlength">Email requires 6 or more characters</p>
		                        <p class="msgError" ng-show="checkEmail">Email already exists</p>
		                        <p class="msgError" ng-show="myForm.email.$error.email">Invalid Email</p>
		                        <p class="msgError" ng-show="myForm.email.$error.required">Email is required</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Birth Day</label>
		                    <div class="col-sm-9">
		                        <input type="date" class="form-control" ng-model="sendData.birthDay" name="birthDay" required ng-change="birthDayError()">
		                    </div>
		                </div>
		                <div class="form-group" ng-show="checkBirthDay">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9">
		                        <p class="msgError">Invalid birthday</p>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Gender</label>
		                    <div class="col-sm-3">
		                        <select ng-init="sendData.gender = gender[0]" ng-model="sendData.gender" ng-options="option.name for option in gender" class="form-control">
		                        </select>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-3 control-label">
		                        Avatar</label>
		                    <div class="col-sm-9">
		                        <label class="btn btn-primary btn-file">
		                            Choose File <input type="file" id="fileUpload" name="file" ng-model='fileUpload' onchange="angular.element(this).scope().uploading()" required style="display: none;">
		                        </label>
		                    </div>
		                </div>
		                <div class="form-group" ng-show="myForm.file.$invalid && myForm.file.$dirty || uploadErr">
		                    <label class="col-sm-3 control-label">
		                            &nbsp;</label>
		                    <div class="col-sm-9" >
		                        <p class="msgError" ng-show="uploadErr" >You can't upload more than 1 image</p>
		                        <p class="msgError" ng-show="myForm.file.$error.required">Avatar is required</p>
		                    </div>
		                </div>
		                <div class="form-group" ng-hide="previewShow">
		                    <label class="col-sm-3 control-label">
		                        Preview Avatar</label>
		                    <div class="preview col-sm-3">
		                        <img class="img-responsive" src="{{img}}">
		                    </div>
		                </div>     
		            </div>  				
				</div>
				<!-- /.box-body -->
				<div class="box-footer">  
					<div class="col-sm-offset-4 col-sm-8">
	                    <button type="submit" class="btn btn-success btn-sm" ng-disabled="myForm.userName.$pristine && myForm.user.$invalid || checkUser || myForm.email.$pristine && myForm.email.$invalid || checkEmail || myForm.fullName.$invalid && myForm.fullName.$pristine || myForm.password.$invalid && myForm.password.$pristine || myForm.confirm.$invalid && myForm.confirm.$pristine || checkConfirm || myForm.birthDay.$invalid && myForm.birthDay.$pristine || checkBirthDay || previewShow">
	                        Sign in</button>
	                     <button type="reset" ng-click="resetForm()" class="btn btn-default btn-sm">
	                    Reset</button>
	                </div>             
				</div>
			</form>
		</div>
		<!-- /.box -->        
	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

