<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Quản Lý Admin
		<small>Chỉnh sửa Admin</small>
	</h1>
</section>
<div class="content" ng-controller="editAdminCtrl" ng-init="loadFix()">
	<div class="row">
		<div class="box">
            <form class="form-horizontal" ng-submit="submitFix(detail_admin)" name="myForm" novalidate>
    			<div class="box-header">
    				<h3 class="box-title">Chỉnh sửa Admin</h3>
    			</div>
    			<!-- /.box-header -->          
    			<div class="box-body">
                    <div class="col-md-push-2 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Tên Đầy Đủ</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="detail_admin.fullName" placeholder="Tên đầy đủ" required name="fullName" minlength="4">
                            </div>
                        </div>
                        <div class="form-group" ng-show="myForm.fullName.$invalid && myForm.fullName.$dirty">
                            <label class="col-sm-3 control-label">
                                    &nbsp;</label>
                            <div class="col-sm-9">
                                <p class="msgError" ng-show="myForm.fullName.$error.minlength">Tên phải có từ 4 ký tự trở lên</p>
                                <p class="msgError" ng-show="myForm.fullName.$error.required">Dòng này không được để trống</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Tài Khoản</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="detail_admin.userName" placeholder="Tài khoản" required name="userName" ng-blur="userError()" ng-change="resetUser()" minlength="4" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group" ng-show="myForm.userName.$invalid && myForm.userName.$dirty|| checkUser">
                            <label class="col-sm-3 control-label">
                                    &nbsp;</label>
                            <div class="col-sm-9">
                                <p class="msgError" ng-show="myForm.userName.$error.minlength || myForm.userName.$error.maxlength">Tài khoản phải từ 4-15 ký tự</p>
                                <p class="msgError" ng-show="myForm.userName.$error.required">Dòng này không được để trống</p>
                                <p class="msgError" ng-show="checkUser">Tài khoản đã tồn tại</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" ng-model="detail_admin.email" placeholder="Email" required name="email" minlength="6" ng-blur="emailError()" ng-change="resetEmail()">
                            </div>
                        </div>
                        <div class="form-group" ng-show="myForm.email.$invalid && myForm.email.$dirty || checkEmail">
                            <label class="col-sm-3 control-label">
                                    &nbsp;</label>
                            <div class="col-sm-9">
                                <p class="msgError" ng-show="myForm.email.$error.minlength">Email phải có 6 ký tự trở lên</p>
                                <p class="msgError" ng-show="checkEmail">Email đã tồn tại</p>
                                <p class="msgError" ng-show="myForm.email.$error.email">Email không hợp lệ</p>
                                <p class="msgError" ng-show="myForm.email.$error.required">Dòng này không được để trống</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Ngày Sinh</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" ng-model="detail_admin.birthDay" name="birthDay" required ng-change="birthDayError()">
                            </div>
                        </div>
                        <div class="form-group" ng-show="checkBirthDay">
                            <label class="col-sm-3 control-label">
                                    &nbsp;</label>
                            <div class="col-sm-9">
                                <p class="msgError">Ngày sinh không hợp lệ</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Giới Tính</label>
                            <div class="col-sm-3">
                                <select ng-model="detail_admin.gender" ng-options="option.name for option in gender" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Ảnh Đại Diện</label>
                            <div class="col-sm-9">
                                <label class="btn btn-primary btn-file">
                                    Chọn Ảnh <input type="file" id="fileUpload" name="file" ng-model='fileUpload' onchange="angular.element(this).scope().uploading()" style="display: none;">
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="myForm.file.$invalid && myForm.file.$dirty || uploadErr">
                            <label class="col-sm-3 control-label">
                                    &nbsp;</label>
                            <div class="col-sm-9" >
                                <p class="msgError" ng-show="uploadErr" >Không thể tải lên nhiều hơn 1 ảnh</p>
                                <p class="msgError" ng-show="myForm.file.$error.required">Ảnh đại diện không được để trống</p>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="previewShow">
                            <label class="col-sm-3 control-label">
                                Xem Trước Ảnh</label>
                            <div class="preview col-sm-3">
                                <img class="img-responsive" src="{{detail_admin.avatarUrl}}">
                            </div>
                        </div>	
                    </div>			
    			</div>
    			<!-- /.box-body -->
    			<div class="box-footer">  
    				<div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="myForm.user.$invalid || checkUser || myForm.email.$invalid || checkEmail || myForm.fullName.$invalid || myForm.password.$invalid || myForm.confirm.$invalid || checkConfirm || myForm.birthDay.$invalid|| checkBirthDay">
                            Hoàn Thành</button>
                         <button type="button" ui-sref="Admin({ pageID:1})" class="btn btn-default btn-sm">
                        Quay Lại</button>
                    </div>             
    			</div>
            </form>
		</div>
		<!-- /.box -->        
	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

