h2{
	padding-top: 10px;
}

.logo a img{
	width: 250px;
}

.product-details .carousel .text-center img{
	width: 110px;
	height: 70px;
	padding: 5px;
}

.view-product img{
	width: 360px;
	height: 300px;
}

.product-information{
	padding-top: 20px;
}

.pagination{
	display: block;
	clear: both;
}

.glyphicon-search{
	height: 18px;
}

footer{
	margin-top: 30px;
}

#slider-carousel .carousel-inner .col-sm-6 img{
	width: 484px;
	height: 441px;
}

.priceTable{
	color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.imgTable{
	width: 200px;
	height: 150px;
}

#tableCompare{
	display: block;
    margin-bottom: 185px;
    margin-top: 30px;
    overflow: hidden;
}

td.titleCompare{
	font-weight: bold;
	line-height: 45px !important;
}

.ProductName{
	width: 220px;
	font-size: 15px;
	padding-right: 20px !important;
}

.fa-times{
	color: red;
	font-size: 20px;
}

#productImg .titleCompare{
	width: 120px;
}

.remove{
	position: absolute;
	top: 3px;
	right: 3px;
}

.table thead tr th{
	vertical-align: middle;
}

.table tbody tr td{
	vertical-align: middle;
}

.table tbody tr:last-child td{
	vertical-align: text-top;
}

.discribe{
	width: 220px;
	text-align: justify;
	text-indent: 20px;
}

.active{
	color: #FE980F !important;
}

.choose-zoom{
	border: 2px black solid;
    padding: 30px 1px;
}
