<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Quản lý sản phẩm
		<small>Danh sách sản phẩm</small>
	</h1>
</section>
<div class="content" ng-init="loadUser()">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="input_inline">
						<form ng-submit="searchForm()">
							<div class="input-group">
							    <input type="text" class="input_special" ng-model="searchInput" placeholder="Tìm kiếm">
							    <div class="input-group-btn icon_input">
							      <button class="btn btn-default" type="submit" id="submit">
							        <i class="glyphicon glyphicon-search" id="glyphicon-search"></i>
							      </button>
							    </div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.box-header -->          
				<div class="box-body">
				    <div class="row">
					    <div class="col-md-10">
						    <table class="table table-condensed text-center">
						        <thead>
						            <tr>
						                <th>#</th>
						                <th>Ảnh</th>
						                <th>Tên Khách Hàng</th>
						                <th>&nbsp;</th>
						            </tr>
						        </thead>
						        <tbody>
						        	<div >
							           <tr ng-repeat="user in restored_data.listMember">
								           	<form class="row">
								                <td class="col-xs-1">{{$index + 1 + (currentPage-1)*10}}</td>
								                <td class="col-xs-2 col-md-1"><img src="{{user.avatarUrl}}" class="img-responsive"></td>
								                <td class="col-xs-2">{{user.fullName}}</td>
								                <td class="col-xs-2 col-md-1"> 
								                    <div class="dropdown">		                    	
								                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Tùy Chọn <span class="caret"></span></button>
								                        <ul class="dropdown-menu">
								                        	<li><a href="javascript:void(0)" ui-sref="EditUser({userID: user._id})" ng-click="edit(user)">Chỉnh sửa </a></li>
								                            <li><a href="javascript:void(0)" ng-click="remove(user)">Xóa</a></li>
								                        </ul>                       
								                    </div>  
								                </td>
								            </form>
							            </tr>
						        	</div>
						        </tbody>
						    </table>
						</div>
					</div>	
				</div>
				<!-- /.box-body -->
				<div class="box-footer">                
					<div class="col-md-6 col-md-offset-6">
						<nav aria-label="Page navigation">
							<ul uib-pagination 
								boundary-links="true" 
								total-items="restored_data.total" 
								ng-model="currentPage" 
								class="pagination-sm" 
								previous-text="&lsaquo;" 
								next-text="&rsaquo;" 
								first-text="&laquo;" 
								last-text="&raquo;"
								ui-sref="User({pageID:currentPage})">
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- /.box -->        
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

